/* police écriture */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.heberg {
    color: #0065FC;
    width: 112px;
    top: 16px;
    border-top: 2px solid #0065FC;
    height: 19px;
    }


   /**** header *****/
   header{
    width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   header img{
    width: 61px;
    height: 19px;

   }

   nav {
    display: flex;
    justify-content: flex-end;
    width:  244px;
    height:  35px;
    gap: 68px;
    align-items: center;
    padding-right: 120px;
  }

  nav a {
    color: #000;
  }

  nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 10px;
  }

  /* style section info */

  h1
   {
    font-size: 1.625em;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .info p
   {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 30px;
  }

    form {
    display: flex;
    }

  form div
  {
    position: relative;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    margin-bottom: 28px;
  }

  form div .fa-location-dot
  {
    position: absolute;
    top: 30%;
    left: 38%;
    font-size: 18px;
    color: #000;
  }

  form input 
   {
    width: 213px;
    height: 49px;
    outline: none;
    border: 2px solid #F2F2F2;
    color: #000;
    font-size: 18px;
    font-weight: 700;
  }

  form input::placeholder 
  {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
  }

  .form-button-recherche
  {
    width:  132px;
    height:  49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    background-color:  #0065FC;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
  }
  
  .form-loupe
  {
    width: 49px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 15px;
    background-color:  #0065FC;
    color: #FFF;
    border: none;
    display: none;
  }

  .form-loupe .fa-magnifying-glass
  {
    color: #FFF;
    font-size: 1.063em;
  }

  /* style section filtres  */

.filtres {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 28px;
}

.filtres h1 {
    margin-right: 20px;
    width: 54px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;

}

.filtres div {
    display: flex;
    align-items: center;
}

.filtres button {
    width:  190px;
    height:  50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    border-radius: 25px;
    border: 2px ;
    border: 2px solid #D9D9D9;
    background-color: #FFF;

}

.filtres button:hover {
    background-color: #DEEBFF;
}

.filtres i {
    font-size: 20px;
    color: #0065FC; 
    padding-right: 10px;
}

.filtres span 

{
font-size: 17px;
font-weight: 700;
line-height: 19.96px;
text-align: left;
color: #000;
}

/* petite-info */

.petite-info
{
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 0px;
 
}

.petite-info p
{
  padding: 0;
  padding-left: 15px;
}
  
.petite-info i
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  color: #0065FC;
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
  
}

.hebergements-cards
{
    display: flex;
    flex-wrap: wrap ;
    gap: 5px ;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    
    
}

.hebergements-cards a
{
    width: 31%;
    height: 207px;
    margin-bottom: 50px;
    filter: drop-shadow(0 3px 15px rgba(0,0,0,0.2));

}
.hebergements-cards a:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
.card img 
{
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.Hebergements-title h2
{
margin-bottom: 20px;
}

.card-content
{
    padding-left: 15px;
}

.Affichage a 
{
font-size: 1.125em;
font-weight: 700;

}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

